$primary-color: #333;
$secondary-color: #888;
$background-color-light: #a0d5e5;
$background-color-dark: #121212;
$header-background-color-light: rgb(245, 235, 235);
$header-background-color-dark: #1e1e1e;
$button-background-color-light: rgb(209, 192, 167);
$button-background-color-dark: #333;
$todo-background-color-light: #fff;
$todo-background-color-dark: #1e1e1e;
$link-color: #888;
$link-hover-color: #333;
$link-color-dark: #888;
$link-hover-color-dark: #333;