.main {
    margin: 1%;

    .about {
        margin-bottom: 2rem;

        &__title {
            font-size: 2rem;
            margin-bottom: 1rem;
        }

        &__description {
            font-size: 1.2rem;
        }
    }

    .projects {
        margin-bottom: 2rem;

        &__title {
            font-size: 2rem;
            margin-bottom: 1rem;
        }

        &__list {
            list-style: none;
            padding: 0;
        }

        &__item {
            margin-bottom: 1rem;
        }

        
    }

    .contact {
        margin-bottom: 2rem;
        max-width: 400px;

        &__title {
            font-size: 2rem;
            margin-bottom: 1rem;
        }

        &__form {
            display: flex;
            flex-direction: column;

            &__label {
                margin: 0.5rem 0 0.25rem;
            }

            &__input,
            &__textarea {
                padding: 0.5rem;
                margin-bottom: 1rem;
                border: 1px solid #ccc;
                border-radius: 4px;
            }

        }

    .contact__button {
        padding: 0.5rem 1rem;
        background-color: $button-background-color-light !important;
        color: $primary-color !important;
        border: none !important;
        cursor: pointer !important;
    
        &:hover {
            background-color: darken($button-background-color-light, 10%) !important;
            }
        }

    .dark-mode & {
        .contact__button {
            background-color: $button-background-color-dark !important;
            color: #888 !important;

            &:hover {
                background-color: lighten($button-background-color-dark, 10%) !important;
            }
        }
    }
}
}

.contact__form {
    display: flex;
    flex-direction: column;

    &__label {
        margin: 0.5rem 0 0.25rem;
    }

    &__input,
    &__textarea {
        padding: 0.5rem;
        margin-bottom: 1rem;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    &__button {
        padding: 0.5rem 1rem;
        background-color: $button-background-color-light;
        color: $primary-color;
        border: none;
        cursor: pointer;

        &:hover {
            background-color: darken($button-background-color-light, 10%);
        }
    }

    .dark-mode & {

        &__input,
        &__textarea {
            background-color: $background-color-dark;
            color: $secondary-color;
            border-color: #555;
        }

        &__button {
            background-color: $button-background-color-dark;
            color: $secondary-color;

            &:hover {
                background-color: lighten($button-background-color-dark, 10%);
            }
        }
    }
}

.message {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 1rem;
    border-radius: 5px;
    color: #fff;

    &.success {
        background-color: #4CAF50;
    }

    &.error {
        background-color: #f44336;
    }
}